In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv("/content/drive/MyDrive/MovieFranchises.csv")
df

,index,MovieID,Title,Lifetime Gross,Year,Studio,Rating,Runtime,Budget,ReleaseDate,VoteAvg,VoteCount,FranchiseID
0,0,1001,Star Wars: Episode IV - A New Hope,775398007,1977,Lucasfilm,PG,121.0,11000000.0,05-25-77,4.09,96233.0,101.0
1,1,1002,Star Wars: Episode V - The Empire Strikes Back,538375067,1980,Lucasfilm,PG,124.0,18000000.0,06-20-80,4.12,79231.0,101.0
2,2,1003,Star Wars: Episode VI - Return of the Jedi,475106177,1983,Lucasfilm,PG,135.0,32500000.0,05-25-83,3.98,76082.0,101.0
3,3,1004,Jurassic Park,1109802321,1993,Universal Pictures,PG-13,127.0,63000000.0,06-11-93,3.69,82700.0,102.0
4,4,1005,The Lost World: Jurassic Park,618638999,1997,Universal Pictures,PG-13,129.0,73000000.0,05-23-97,3.01,19721.0,102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,600,101,Star Wars,1977,George Lucas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,601,102,Jurassic Park,1993,Michael Crichton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,602,103,Wizarding World,2001,J. K. Rowling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,603,104,Middle Earth,2001,J. R. R. Tolkien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,604,105,MCU,2008,Stan Lee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN